body {
    color: #999;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightskyblue;
}

.container {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.column {
    margin: 5px;
    padding: 5px;
    width: 100%;
    background-color: rgb(240, 240, 240);;
    border-radius: 10px;
}

.column-header {
    padding: 5px;
    color: darkblue;
}

.card-list {
    /* min-height: 200px; */
    margin-bottom: 5px;
}

.card {
    padding: 5px;
    margin: 5px;
    background-color: white;
    position: relative;
    border: 1px solid lightgray;
    border-radius: 5px;
    cursor: grab;
}

.card-placeholder {
    background-color: lightgray;
    border-radius: 5px;
    margin: 5px;
}

.card:hover {
    background-color: rgb(250,250,250);
}

.card-text {
    color: black;
    font-size: 14px;
    padding: 5px;
}

.create-card-btn {
    background-color: lightgreen;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-card-btn {
    background: none;
    cursor: pointer;
    background-color: rgb(220,220,220);
    border: none;
    border-radius: 3px;
    position: absolute;
    top: 1px;
    right: 1px;
}

.add-card-form {
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.card-input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

.open-add-form-btn {
    margin: 5px;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
}

.close-add-form-btn {
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
}

.dragged {
    transform: rotate(5deg);
    z-index: 9999;
    cursor: grabbing;
}
